# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [30]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [38]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [39]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [40]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [41]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [42]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [43]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [44]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
purpose_group       0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Создаем сводную таблицу, в которой выводим количество просрочек
# и отданных вовремя кредитов, в зависимости от количества детей. 
chil_debt = data.pivot_table(index='children',columns='debt',values='purpose',aggfunc='count')

# Создаем колонку с отношением должников ко всем кто брал кредит по количеству детей.
chil_debt['relation_off'] = (chil_debt[1]/(chil_debt[1]+chil_debt[0]))*100

# Выводим на экран таблицу
display(chil_debt)

debt            0       1  relation_off
children
0         13028.0  1063.0      7.543822
1          4364.0   444.0      9.234609
2          1858.0   194.0      9.454191
3           303.0    27.0      8.181818
4            37.0     4.0      9.756098
5             9.0     NaN           NaN

**Вывод:** 

Из получившейся сводной таблици видно:
* Чем больше детей, там меньше люди берут кредит
* Чем больше детей, тем больше вероятность что клиент не вернет кредит вовремя, кроме тех, у кого 3 детей.
* Ввиду малого количества клиентов с 3, 4 детьми в выборке, видно совсем небольшое увеличение процента невозврата.
* Людей с 5 детьми слишком мало, чтобы говорить о том, что они возвращают кредит вовремя.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# Создаем таблицу, в которой выводим количество просрочек и отданных вовремя кредитов,
# в зависимости от семейного положения.
fstat_debt = data.pivot_table(index='family_status',columns='debt',values='purpose',aggfunc='count')

# # Создаем колонку с отношением должников ко всем кто брал кредит по семейному положению.
fstat_debt['relation_off'] = fstat_debt[1]/(fstat_debt[0]+fstat_debt[1])*100

# Выводим таблицу на экран.
display(fstat_debt.sort_values('relation_off',ascending=False))

debt                       0    1  relation_off
family_status
Не женат / не замужем   2523  273      9.763948
гражданский брак        3749  385      9.313014
женат / замужем        11334  927      7.560558
в разводе               1105   84      7.064760
вдовец / вдова           888   63      6.624606

**Вывод:** 

Из таблицы видно:
* Не женатые и состоящие в гражданском браке чаще всех остальных имеют просрочки.
* Вцелом влияние семейного положения минимально - разница примерно 2-3%

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# Посмотрим количество респондентов по уровню зароботка
print('До 100 т.р:',data.loc[data.total_income <= 100000]['total_income'].count(), "человек.")
print('101-300 т.р: ',data.loc[(data.total_income <= 300000)&(data.total_income >= 100001)]['total_income'].count(),'человек.')
print('301-500 т.р:',data.loc[(data.total_income <= 500000)&(data.total_income >= 300001)]['total_income'].count(),'человек')
print('501-1млн:',data.loc[(data.total_income <= 1000000)&(data.total_income >= 500001)]['total_income'].count(),'человек')
print('Больше 1 млн.:',data.loc[data.total_income >= 1000001]['total_income'].count(),'человек')

До 100 т.р: 4444 человек.
101-300 т.р:  15413 человек.
301-500 т.р: 1252 человек
501-1млн: 197 человек
Больше 1 млн.: 25 человек

**Видим, что слишком большое количетво людей с доходом от 101 до 300 т.р.**

**Разобьем эту группу на две, для большей детализации**

**Респондентов с доходом больше 301 т.р мало, поэтому совместим эти группы**

In [25]:
# Более детализированная разбивка количества респондентов по уровню зароботка
print('Все респонденты по уровню достатка:')
low_100 = data.loc[data.total_income <= 100000]['total_income'].count()
print(f'До 100 т.р: {low_100} человек.')

for_101_to_200 = data.loc[(data.total_income <= 200000)&(data.total_income >= 100001)]['total_income'].count() 
print(f'101-200 т.р: {for_101_to_200} человек.')

for_201_to_300 = data.loc[(data.total_income <= 300000)&(data.total_income >= 200001)]['total_income'].count()
print(f'201-300 т.р: {for_201_to_300} человек')

up_301 = data.loc[data.total_income > 300001]['total_income'].count()
print(f'Больше 300 т.р: {up_301} человек')

Все респонденты по уровню достатка:
До 100 т.р: 4444 человек.
101-200 т.р: 11848 человек.
201-300 т.р: 3565 человек
Больше 300 т.р: 1474 человек

In [26]:
# Подсчитаем всех должников
relation_off = data.loc[data.debt==1]

print('Должники по уровню достатка')

# Разобьем должников по уровню достатка.
off_low_100 = relation_off.loc[relation_off.total_income <= 100000]['total_income'].count()
print(f'До 100 т.р: {off_low_100} человек.')

off_for_101_to_200 = relation_off.loc[(relation_off.total_income <= 200000)&
                                      (relation_off.total_income >= 100001)]['total_income'].count() 
print(f'101-200 т.р: {off_for_101_to_200} человек.')

off_for_201_to_300 = relation_off.loc[(relation_off.total_income <= 300000)&
                                      (relation_off.total_income >= 200001)]['total_income'].count()
print(f'201-300 т.р: {off_for_201_to_300} человек')

off_up_301 = relation_off.loc[relation_off.total_income > 300001]['total_income'].count()
print(f'Больше 300 т.р: {off_up_301} человек')

Должники по уровню достатка
До 100 т.р: 354 человек.
101-200 т.р: 1022 человек.
201-300 т.р: 250 человек
Больше 300 т.р: 106 человек

**Соберем таблицу из всех респондентов и должников по уровню достатка и отношению между ними.**

In [27]:
# Индексы для таблицы
index = ['До 100','101-200','201-300','Больше 300']

#Данные для таблицы
data = {'Отдавшие':[low_100,for_101_to_200,for_201_to_300,up_301],
       'Должники':[off_low_100,off_for_101_to_200,off_for_201_to_300,off_up_301]}

#Собираем таблицу
income_level = pd.DataFrame(index=index,data=data)

#Добавим колонку отношений должников ко всем респондентам по уровню достатка
income_level['Отношение'] = (income_level['Должники']/(income_level['Отдавшие']+income_level['Должники']))*100

# Выводим таблицу на экран
display(income_level)

            Отдавшие  Должники  Отношение
До 100          4444       354   7.378074
101-200        11848      1022   7.940948
201-300         3565       250   6.553080
Больше 300      1474       106   6.708861

**Вывод:** 
Из получившейся таблицы видно, что разница минимальна, в пределах 1-2%.
Хотя тенденция к тому, что чем больше достаток, тем меньше просрочек, есть.
Говорить более точно сложно, ввиду довольно большой разницы в достатке в данной выборке респондентов.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [31]:
# Смотрим уникальные цели на кредит
print(data.purpose.unique())

['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

***Слишком большое количество формулировок, подходящих под одинаковый смысл.
Необходимо обработать и скомпоновать все формулировки по смыслу***

***Разобьем формулировки по категориям***
* Недвижимость
* Авто
* Свадьба
* Образование

In [33]:
# Функция для категорий
def catt(purpose):
    '''Возвращает категорию по значению формулировки'''
    if 'жиль' in purpose or 'недвиж' in purpose:
        return "Недвижимость"
    if 'авто' in purpose:
        return 'Авто'
    if 'свадь' in purpose:
        return 'Свадьба'
    if 'образов' in purpose:
        return 'Образование'  

# Создадим колонку с категориями в зависимости от формулировок
data['purpose_group'] = data['purpose'].apply(catt)

In [35]:
# Построим сводную таблицу по целям на кредит, количество отдавших, количетво должников.
purpose_debt = data.pivot_table(index='purpose_group',columns='debt',values='total_income',aggfunc='count')

# Добавляем колонку с отношением должников ко всем респондентам по цели на кредит.
purpose_debt['relation'] = (purpose_debt[1]/(purpose_debt[0]+purpose_debt[1]))*100

# Выводим таблицу на экран
display(purpose_debt.sort_values('relation'))

debt              0    1  relation
purpose_group
Недвижимость   9043  715  7.327321
Свадьба        1941  158  7.527394
Образование    3266  331  9.202113
Авто           3530  367  9.417501

**Вывод:** 
Респонденты чаще возвращают кредит в срок, когда берут кредит на операции с недвижимостью или свадьбу.
Респонденты, кто берет кредит на операции с авто, чаще всех не оплачивают кредит вовремя.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
* Человеческий фактор (забыл или не захотел заполнять поля)
* Сбои при работе с данными (обработка, пересылка...)

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
Потому что в данных могут встречатья координально разные значения, которые могут сильно повлиять на результат иследования, а медианна "выравнивает" выборку данных, таким образом снижая риск некорректных расчетов.

### Шаг 4: общий вывод.

**Из исследованных данных, можно сделать выводы что:**
* Чем больше детей у респондента, тем больше риск что респондент не вернет кредит в срок.
* Респонденты, которые женаты/замужем, вдовцы, разведенные чаще всех остальных отдают кредит в срок. А не женатые и состоящие в гражданском браке чаще всех остальных имеют просрочки.
* Чем выше достаток у респондента, тем больше вероятность что респондент вернет кредит в срок.
* Респонденты, берущие кредит на операции с авто и на образование, чаще всех имеют просрочки по кредиту.

Исходя из выше перечисленного, можем составить портрет самого надежного заемщика и самого ненадежного.

**Самый надежный:**
Респондент не имеет детей, вдовец или женат/замужем, с достатком выше 200т.р, с целью кредита на операции с недвижимостью.

**Самы ненадежный:**
Респондент имеющий 2 и более детей, не женат/не замужем, с достатком меньше 200т.р, с целью кредита на образование или авто.

**На основании полученных данных можно разработать систему, которая бы учитывала: количество детей, семейное положение, уровень достатка и цель кредита и классифицировала заемщиков по "надежности". Данная система позволит выдавать кредиты с меньшими рисками для банка.**